%box {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.green-box {
  @extend %box;
  background-color: green;
}

.red-box {
  @extend %box;
  background-color: red;
}

.blue-box {
  @extend %box;
  background-color: blue;
}
